@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to left, #3e5151, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
}

.wrapper {
  background: linear-gradient(to left, #ada996, #f2f2f2, #dbdbdb, #aeaeae);
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0,0,0,0.1);
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.button {
  background: linear-gradient(to left, #aeeeae, #94a7e9);
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;
  border: none;
  font-size: 1.5rem;
}

.button:hover,
.button:focus {
  background: linear-gradient(to right, #aeeeae, #fc466b);
  color: #ffffff;
  transition: 0.2s;
}

.equals {
  background: linear-gradient(to right, #24b90f, #91ff00cf);
  grid-column: 3/5;
}

.opt {
  background: linear-gradient(to left, #fd1d1d, #fcb045);
}